.login {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 177px;
  margin: 20px auto 0;
  width: 298px;
}

input[type='text'] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 37px;
  transition: box-shadow 0.3s;
  width: 240px;
}

input[type='submit'] {
  width: 240px;
  height: 35px;
  display: block;
  font-family: Arial, 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0px #37a69b;
  padding-top: 6px;
  margin: 29px 0 0 29px;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #37a69b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78,
    0px 10px 5px #999;
}

input[type='submit']:active {
  top: 3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d,
    0px 5px 3px #999;
}

.table {
  background: #eceeee;
  border: none;
  border-radius: 6px;
  height: 350px;
  margin: 20px auto 0;
  width: 275px;
  padding: 15px;
}

h1 {
  font-family: Arial, 'Helvetica', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.table-body {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #3b3b3b;
  height: 39px;
  transition: box-shadow 0.3s;
  width: 240px;
  text-align: center;
}

.table-row {
  width: 100px;
  height: 25px;
  font-family: Arial, 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0px #37a69b;
  padding-top: 6px;
  border: none;
  background-color: #37a69b;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78,
    0px 10px 5px #999;
  margin-bottom: 10px;
}

.dnone {
  display: none;
}